@model WPS.Service.CategoryService
<style>
    .back {
        background-color: snow;
        border: 1px solid #f60;
        color: #f60;
    }
</style>
<div class="row">
    <div class="col-6">
        @using (Html.BeginForm("Update", "HomeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ObjDetail.Id)
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Tên</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.ObjDetail.Name, new { @placeholder = "Đặt tên cho danh mục", @class = "w-100", @required = "required" })
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Đường dẫn</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.ObjDetail.Type, new { @placeholder = "Nhâp đường dẫn", @class = "form-control w-100", @required = "required" })
                </div>
            </div>
            <button class = "btn btn-primary" type="submit">Cập nhật danh mục</button>
            @Html.ActionLink("Hủy bỏ", "Create", null, new { @class = "btn btn-primary back" })    
        }
    </div>
    <div class="col-6">
        <div class="card">
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.ObjList)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-10">@item.Name</div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="col"><a href="@Url.Action("Update", new {id = item.Id})"><i class="icon fa-solid fa-pen-to-square"></i></a></div>
                                    <div class="col"><a href="@Url.Action("Delete", new {id = item.Id})"><i class="icon fa-solid fa-trash"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const check = urlParams.get('check');
    console.log(check);
    if (check == "1") {
        swal("Thêm mới thành công!", {
            icon: "success",
        }).then(() => {
            window.location.href = "#";
        });
    } else if (check == "0") {
        swal("Có lỗi xảy ra khi thêm mới!", {
            icon: "error",
        });
    }
    document.getElementById("Category").classList.add("text-active");

</script>

