@model WPS.Service.EventService
@{
    var categories = ViewBag.Data as List<WPS.Core.CategoryProduct>;
    var posts = ViewBag.Post as List<WPS.Core.Post>;
}
<style>
    .back {
        background-color: snow;
        border: 1px solid #f60;
        color: #f60;
    }
</style>
@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">

        <div class="col-8">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label fw-bold">Tên sự kiện</label>
                @Html.TextBoxFor(m => m.ObjDetail.Title, new { @placeholder = "Nhập tên sự kiện", @class = "form-control ms-1", @required = "required" })
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label fw-bold">Chọn bài viết</label>
                <select class="form-select" aria-label="Default select example" name="Id_post">
                    
                    @foreach(var item in posts)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Tạo sự kiện</button>
            @Html.ActionLink("Hủy bỏ", "Index", null, new { @class = "btn btn-primary back" })

        </div>
        <div class="col-4">
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item"><h4>Chuyên mục</h4></li>
                    @foreach (var item in categories)
                    {
                        <li class="list-group-item d-flex">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" name="Category" type="checkbox" value="@item.Id" aria-label="Checkbox for following text input">
                            </div>
                            <div class="ms-2 d-flex align-items-sm-center">
                                <h5>@item.Name</h5>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <div class="card mt-20">
                <ul class="list-group">
                    <li class="list-group-item"><h4>Thêm ảnh đại diện</h4></li>
                    <li class="list-group-item d-flex">
                        <input type="file" name="file" required accept=".png" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const check = urlParams.get('check');
    console.log(check);
    if (check == "1") {
        swal("Thành công!", {
            icon: "success",
        }).then(() => {
            window.location.href = "#";
        });
    } else if (check == "0") {
        swal("Có lỗi xảy ra!", {
            icon: "error",
        });
    }
    document.getElementById("Product").classList.add("text-active");

</script>

